<!DOCTYPE html>
<html lang="en" ng-app="twwipls" ng-controller="twwipls">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166798367-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-166798367-2');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- Bootstrap CSS Darkly Theme-->
    <link rel="stylesheet" ng-href="css/bootstrap/vapor/bootstrap.min.css">

    <title>{{ title.abbre }}</title>
</head>

<body>
    <div class="se-pre-con">
        <div class="justify-content-center vertical-center">
            <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-dark bg-dark p-4">
        <div class="container-lg">
            <h3>{{ title.abbre }}</h3>
            <span>{{ title.name }}</span>
            <small class="text-muted">{{ title.description }}</small>
        </div>
    </nav>

    <hr>

    <div class="container-lg">

        <div class="row">

            <div class="col-lg-9">
                <div class="row" ng-repeat="category in categories">
                    <!-- Title -->
                    <h3 class="text-info">
                        <b>{{ category.title }}</b>
                    </h3>
                    <!-- Content -->
                    <div class="col-md-4 mb-1" ng-repeat="project in category.items">
                        <div class="border border-2 border-dark p-3 h-100 d-flex flex-column">
                            <!-- Title -->
                            <div class="d-flex justify-content-between align-items-center">
                                <span>
                                    <b>{{ project.topic }}</b>
                                </span>
                                <small class="text-muted">{{ project.type }}</small>
                            </div>

                            <!-- Content -->
                            <hr>
                            <div class="d-flex justify-content-between align-items-center text-success">
                                <h5>{{ project.name }}</h5>
                                <h6>{{ project.release }}</h6>
                            </div>
                            <span>{{ project.description }}</span>

                            <!-- Links -->
                            <hr>
                            <div class="mt-auto">
                                <a ng-repeat="link in project.links" ng-href="{{ link.link }}"
                                    class="btn btn-sm btn-primary" target="_blank">
                                    {{ link.name }}
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <!-- Title -->
                <h3 class="text-info">
                    <b>{{ profiles.title }}</b>
                </h3>
                <!-- Content -->
                <div class="col-md-12 mb-1" ng-repeat="data in profiles.items">
                    <div class="border border-2 border-dark p-3">
                        <!-- Title -->
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <span>
                                <b>{{ data.website }}</b>
                            </span>

                            <i class="{{ data.iconClass }}"></i>
                        </div>

                        <!-- Links -->
                        <a ng-repeat="profile in data.items" ng-href="{{ profile.link }}" target="_blank"
                            class="btn btn-sm btn-primary">
                            <i class="fas fa-star text-warning" ng-if="profile.main"></i>
                            <span>{{ profile.name }}</span>

                        </a>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <!-- Footer -->
    <div class="row m-5">
        <div class="col-md-12">
            <div class="text-center py-3">
                Made with Bootstrap, Bootswatch, jQuery, AngularJS, Font Awesome
            </div>
            <div class="text-center">
                <a class="btn btn-primary" target="_blank"
                    href="https://github.com/Midlou/midlou.github.io"><strong>Github</strong></a>
            </div>
        </div>
    </div>


    <!-- Font awesome icons -->
    <script src="https://kit.fontawesome.com/833adfb60e.js" crossorigin="anonymous"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/bootstrap/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <script src="js/angular.min.js"></script>
    <script src="js/init.js"></script>

    <!-- Optional JavaScript -->
    <script src="js/main.js"></script>


</body>

</html>
