---
interface Props {
	title: string;
}

const { title } = Astro.props;

// styles
import '../styles/index.css';
import '../styles/glow-hover.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="A site with my personal portfolio." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/mid-icon-light-1.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gradient-to-r from-slate-600 to-slate-700">
		<slot />
	</body>
</html>
