---
import BaseBody from "../../body/base-body.astro";

// components
import MainLayout from "../../components/layouts/main-layout";

import projectThumb from "../../assets/projects/little-red-star/little-red-star-thumb-1.jpg";

const TITLE = "Little Red Star";
---

<BaseBody title={TITLE}>
    <MainLayout title={TITLE} client:load>
        <div class={`flex justify-center container mx-auto py-3`}>
            <div class="px-4 text-justify md:max-w-3xl">
                <div class="flex justify-center container mx-auto py-3">
					<img src={projectThumb.src} class="block w-1/2" alt="Little Red Star thumb" />
				</div>

                <div>
                    <p>
                        Little Red Star is a map I made for the competition
                        <a
                            class="stylized-link"
                            target={"_blank"}
                            rel={"noreferrer"}
                            href={"https://lambdabuilds.lambdageneration.com/escape-from-black-mesa"}
                        >
                            LambdaBuilds: Escape From Black Mesa</a
                        >. It won <b class="text-[#a58573]">3rd place</b>. 
                        <b>You can download the VMF file of the release b1.</b>
                    </p>
                </div>

                <div class="text-center mt-10 text-lg">
                    <b>
                        <a href="/files/little-red-star-comp-release-files.zip" target={"_blank"} rel={"noreferrer"} class="default-focus-light underline text-blue-400 hover:text-blue-500">
                            Download VMF here
                        </a>
                    </b>
				</div>
            </div>
        </div>
    </MainLayout>
</BaseBody>
